[Unit]
Description=Kiosk
After=weston@tty7.service
Requires=weston@tty7.service

[Service]
User=kiosk
Environment=XDG_RUNTIME_DIR=/run/user/1001
Environment=WAYLAND_DISPLAY=wayland-0
ExecStart=chromium-browser --enable-features=UseOzonePlatform --ozone-platform=wayland --kiosk https://info.phoenixlan.no

[Install]
WantedBy=graphical.target
